
.bodyy{
  background-color: rgb(13, 27, 42);
}
.board button{
  width:100px;
  height: 100px;
  background-color: rgb(224, 225, 221);
  border: 3px solid green;
  margin:1px;
  border-radius:50%;
}
.jumbotron{
  background-color: rgb(119, 141, 169);
}
.container{

}
.start{
  
}
